body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("assets/carpet_floor.png");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .button{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.coder{
  width: 60px;
  height: 85px;
  /*border:10px solid red;*/
  /*border-radius:10px;*/
  position:absolute;
}
.coder img{
  display: inline;
  height: 100%;
  width: auto;
}
.longComputerTable{
  height: 70%;
  width: 3.5%;
  position:absolute;
}
.shortComputerTable{
  height: 47%;
  width: 3.5%;
  position:absolute;
}
.computerTable1{
  left: 18%;
  background-image: url("assets/table_top.png");
}
.computerTable2{
  left: 38%;
  background-image: url("assets/table_top.png");
}
.computerTable3{
  left: 58%;
  background-image: url("assets/table_top.png");
}
.computerTable4{
  left: 78%;
  background-image: url("assets/table_top.png");
}